# Artificial Neural Networks for Binary Classification Exercise

In this notebook we will build an ANN to predict whether customers will churn (indicated by the column `Churn`).


## Dataset
- **Source**: [Kaggle](https://www.kaggle.com/datasets/ahmedgaitani/customer-churn-prediction-dataset/data).
- **Variables of Interest**:
  - `Churn`
- As for the data card you should be able by now to figure the data out by your self :)

## Preprocessing Steps

1. **Dropping irrelevant columns**
2. **Encoding categorical variables**
3. **Data Splitting**

## Model Architecture

- **Input Layer**: Please specify here (the trainee should this this)
- **Hidden Layers**: Please specify here (the trainee should fill this)
- **Output Layer**: Please specify here (the trainee should fill this)

## Training

- **Optimizer**: Please specify here (the trainee should fill this)
- **Loss Function**: Please specify here (the trainee should fill this)
- **Metrics**: Please specify here (the trainee should fill this)
- **Epochs**: Please specify here (the trainee should fill this)
- **Batch Size**: Please specify here (the trainee should fill this)
- **Validation Split**: Please specify here (the trainee should fill this)

## Evaluation
- Please specify here (the trainee should fill this)

If you need to change the steps or add more please do so and explain why!

# Import libraries

In [52]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix, classification_report

# Load Data and EDA

In [25]:
df=pd.read_csv("/content/Churn_Modelling.csv")

In [26]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [28]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
RowNumber,10000.0,5.000500e+03,2886.895680,1.00,2500.75,5.000500e+03,7.500250e+03,10000.00
CustomerId,10000.0,1.569094e+07,71936.186123,15565701.00,15628528.25,1.569074e+07,1.575323e+07,15815690.00
CreditScore,10000.0,6.505288e+02,96.653299,350.00,584.00,6.520000e+02,7.180000e+02,850.00
Age,10000.0,3.892180e+01,10.487806,18.00,32.00,3.700000e+01,4.400000e+01,92.00
Tenure,10000.0,5.012800e+00,2.892174,0.00,3.00,5.000000e+00,7.000000e+00,10.00
Balance,10000.0,7.648589e+04,62397.405202,0.00,0.00,9.719854e+04,1.276442e+05,250898.09
NumOfProducts,10000.0,1.530200e+00,0.581654,1.00,1.00,1.000000e+00,2.000000e+00,4.00
HasCrCard,10000.0,7.055000e-01,0.455840,0.00,0.00,1.000000e+00,1.000000e+00,1.00
IsActiveMember,10000.0,5.151000e-01,0.499797,0.00,0.00,1.000000e+00,1.000000e+00,1.00
EstimatedSalary,10000.0,1.000902e+05,57510.492818,11.58,51002.11,1.001939e+05,1.493882e+05,199992.48
Exited,10000.0,2.037000e-01,0.402769,0.00,0.00,0.000000e+00,0.000000e+00,1.00

In [29]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [30]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool

In [31]:
df.shape

(10000, 14)

## Preprocessing

### Drop unnecessary columns

In [32]:
df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1, inplace=True)

### One-hot-encoder and Label-encoder

In [33]:
encoding_columns = ['Geography',"Gender"]

# Initialize OneHotEncoder
ohe_encoder = OneHotEncoder(sparse_output=False)

# Apply one-hot encoding to the categorical columns
one_hot_encoded = ohe_encoder.fit_transform(df[encoding_columns])

# Create a DataFrame with the one-hot encoded columns
one_hot_df = pd.DataFrame(one_hot_encoded, columns=ohe_encoder.get_feature_names_out(encoding_columns))

# Concatenate the one-hot encoded dataframe with the original dataframe
df_encoded = pd.concat([df, one_hot_df], axis=1)

# Drop the original categorical columns
df_encoded = df_encoded.drop(encoding_columns, axis=1)

df = df_encoded

In [34]:
print(df)

      CreditScore  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
0             619   42       2       0.00              1          1
1             608   41       1   83807.86              1          0
2             502   42       8  159660.80              3          1
3             699   39       1       0.00              2          0
4             850   43       2  125510.82              1          1
...           ...  ...     ...        ...            ...        ...
9995          771   39       5       0.00              2          1
9996          516   35      10   57369.61              1          1
9997          709   36       7       0.00              1          0
9998          772   42       3   75075.31              2          1
9999          792   28       4  130142.79              1          1

      IsActiveMember  EstimatedSalary  Exited  Geography_France  \
0                  1        101348.88       1               1.0
1                  1        112542.58       0               0.0
2                  0        113931.57       1               1.0
3                  0         93826.63       0               1.0
4                  1         79084.10       0               0.0
...              ...              ...     ...               ...
9995               0         96270.64       0               1.0
9996               1        101699.77       0               1.0
9997               1         42085.58       1               1.0
9998               0         92888.52       1               0.0
9999               0         38190.78       0               1.0

      Geography_Germany  Geography_Spain  Gender_Female  Gender_Male
0                   0.0              0.0            1.0          0.0
1                   0.0              1.0            1.0          0.0
2                   0.0              0.0            1.0          0.0
3                   0.0              0.0            1.0          0.0
4                   0.0              1.0            1.0          0.0
...                 ...              ...            ...          ...
9995                0.0              0.0            0.0          1.0
9996                0.0              0.0            0.0          1.0
9997                0.0              0.0            1.0          0.0
9998                1.0              0.0            0.0          1.0
9999                0.0              0.0            1.0          0.0

[10000 rows x 14 columns]

## Selecting Features && Train Test Split

### Selecting Features

In [115]:
#               
#                
X=df.drop(["Exited"],axis=1)
y=df["Exited"]

### Train Test Split

In [116]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Modeling

### Creating the sequential model

In [128]:
# Define the model
model = Sequential()

# Adding the input layer, with 6 neurons, and the ReLU activation function
# The input_dim parameter should be equal to the number of features in the dataset
model.add(Dense(units=4, input_dim=X_train.shape[1], kernel_initializer='uniform',activation='relu'))
model.add(Dense(units=4, input_dim=X_train.shape[1], kernel_initializer='uniform',activation='relu'))
model.add(Dense(units=4, input_dim=X_train.shape[1], kernel_initializer='uniform',activation='relu'))

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

### Adding the hidden layers

In [129]:
# Adding the hidden layer, with 6 neurons, and the ReLU activation function
model.add(Dense(units=4, activation='relu'))
model.add(Dense(units=4, activation='relu'))
model.add(Dense(units=4, activation='relu'))

### Adding the output layer

In [130]:
# Adding the output layer
model.add(Dense(units=1, activation='sigmoid'))

### Compiling the model

In [131]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

### Display model summary

In [132]:
model.summary()

Model: "sequential_10"

 Layer (type)                          Output Shape                         Param #

 dense_53 (Dense)                      (None, 4)                                 56

 dense_54 (Dense)                      (None, 4)                                 20

 dense_55 (Dense)                      (None, 4)                                 20

 dense_56 (Dense)                      (None, 4)                                 20

 dense_57 (Dense)                      (None, 4)                                 20

 dense_58 (Dense)                      (None, 4)                                 20

 dense_59 (Dense)                      (None, 1)                                  5

 Total params: 161 (644.00 B)

 Trainable params: 161 (644.00 B)

 Non-trainable params: 0 (0.00 B)

### Fitting the model

In [133]:
model.fit(X_train, y_train, batch_size=10, epochs=50, validation_split=0.2)

Epoch 1/50
640/640  4s 3ms/step - accuracy: 0.7870 - loss: 0.5604 - val_accuracy: 0.7987 - val_loss: 0.5085
Epoch 2/50
640/640  2s 3ms/step - accuracy: 0.7927 - loss: 0.5144 - val_accuracy: 0.7987 - val_loss: 0.4936
Epoch 3/50
640/640  2s 2ms/step - accuracy: 0.7878 - loss: 0.5157 - val_accuracy: 0.7987 - val_loss: 0.4920
Epoch 4/50
640/640  1s 2ms/step - accuracy: 0.7903 - loss: 0.5093 - val_accuracy: 0.7987 - val_loss: 0.4939
Epoch 5/50
640/640  1s 2ms/step - accuracy: 0.8058 - loss: 0.4887 - val_accuracy: 0.7987 - val_loss: 0.4934
Epoch 6/50
640/640  1s 2ms/step - accuracy: 0.7986 - loss: 0.4958 - val_accuracy: 0.7987 - val_loss: 0.5024
Epoch 7/50
640/640  3s 2ms/step - accuracy: 0.7910 - loss: 0.5090 - val_accuracy: 0.7987 - val_loss: 0.4922
Epoch 8/50
640/640  2s 3ms/step - accuracy: 0.7962 - loss: 0.5013 - val_accuracy: 0.7987 - val_loss: 0.4996
Epoch 9/50
640/640  2s 2ms/step - accuracy: 0.7963 - loss: 0.5025 - val_accuracy: 0.7987 - val_loss: 0.5025
Epoch 10/50
640/640  2s 2ms/step - accuracy: 0.7909 - loss: 0.5127 - val_accuracy: 0.7987 - val_loss: 0.5018
Epoch 11/50
640/640  1s 2ms/step - accuracy: 0.7935 - loss: 0.5088 - val_accuracy: 0.7987 - val_loss: 0.5024
Epoch 12/50
640/640  1s 2ms/step - accuracy: 0.7937 - loss: 0.5069 - val_accuracy: 0.7987 - val_loss: 0.4938
Epoch 13/50
640/640  1s 2ms/step - accuracy: 0.7968 - loss: 0.4963 - val_accuracy: 0.7987 - val_loss: 0.4921
Epoch 14/50
640/640  1s 2ms/step - accuracy: 0.7842 - loss: 0.5173 - val_accuracy: 0.7987 - val_loss: 0.4911
Epoch 15/50
640/640  2s 2ms/step - accuracy: 0.7944 - loss: 0.5004 - val_accuracy: 0.7987 - val_loss: 0.5031
Epoch 16/50
640/640  2s 4ms/step - accuracy: 0.7938 - loss: 0.5061 - val_accuracy: 0.7987 - val_loss: 0.4935
Epoch 17/50
640/640  2s 2ms/step - accuracy: 0.7867 - loss: 0.5074 - val_accuracy: 0.7987 - val_loss: 0.4921
Epoch 18/50
640/640  2s 2ms/step - accuracy: 0.7965 - loss: 0.5007 - val_accuracy: 0.7987 - val_loss: 0.4913
Epoch 19/50
640/640  2s 2ms/step - accuracy: 0.7920 - loss: 0.5055 - val_accuracy: 0.7987 - val_loss: 0.4911
Epoch 20/50
640/640  3s 2ms/step - accuracy: 0.7906 - loss: 0.5078 - val_accuracy: 0.7987 - val_loss: 0.4910
Epoch 21/50
640/640  3s 3ms/step - accuracy: 0.7948 - loss: 0.5018 - val_accuracy: 0.7987 - val_loss: 0.4907
Epoch 22/50
640/640  2s 3ms/step - accuracy: 0.7889 - loss: 0.5075 - val_accuracy: 0.7987 - val_loss: 0.4913
Epoch 23/50
640/640  1s 2ms/step - accuracy: 0.7911 - loss: 0.5068 - val_accuracy: 0.7987 - val_loss: 0.4929
Epoch 24/50
640/640  1s 2ms/step - accuracy: 0.8033 - loss: 0.4892 - val_accuracy: 0.7987 - val_loss: 0.4918
Epoch 25/50
640/640  1s 2ms/step - accuracy: 0.7931 - loss: 0.5020 - val_accuracy: 0.7987 - val_loss: 0.4919
Epoch 26/50
640/640  3s 2ms/step - accuracy: 0.8020 - loss: 0.4904 - val_accuracy: 0.7987 - val_loss: 0.4908
Epoch 27/50
640/640  1s 2ms/step - accuracy: 0.7918 - loss: 0.5046 - val_accuracy: 0.7987 - val_loss: 0.4908
Epoch 28/50
640/640  3s 3ms/step - accuracy: 0.7929 - loss: 0.5023 - val_accuracy: 0.7987 - val_loss: 0.5015
Epoch 29/50
640/640  2s 2ms/step - accuracy: 0.7983 - loss: 0.5023 - val_accuracy: 0.7987 - val_loss: 0.5017
Epoch 30/50
640/640  3s 2ms/step - accuracy: 0.7891 - loss: 0.5145 - val_accuracy: 0.7987 - val_loss: 0.5015
Epoch 31/50
640/640  3s 2ms/step - accuracy: 0.7934 - loss: 0.5065 - val_accuracy: 0.7987 - val_loss: 0.4906
Epoch 32/50
640/640  1s 2ms/step - accuracy: 0.7987 - loss: 0.4968 - val_accuracy: 0.7987 - val_loss: 0.4904
Epoch 33/50
640/640  1s 2ms/step - accuracy: 0.7961 - loss: 0.4996 - val_accuracy: 0.7987 - val_loss: 0.4915
Epoch 34/50
640/640  4s 4ms/step - accuracy: 0.7867 - loss: 0.5128 - val_accuracy: 0.7987 - val_loss: 0.4913
Epoch 35/50
640/640  1s 2ms/step - accuracy: 0.7978 - loss: 0.5034 - val_accuracy: 0.7987 - val_loss: 0.4930
Epoch 36/50
640/640  2s 2ms/step - accuracy: 0.7885 - loss: 0.5100 - val_accuracy: 0.7987 - val_loss: 0.4913
Epoch 37/50
640/640  3s 2ms/step - accuracy: 0.7982 - loss: 0.4979 - val_accuracy: 0.7987 - val_loss: 0.4920
Epoch 38/50
640/640  3s 2ms/step - accuracy: 0.7861 - loss: 0.5125 - val_accuracy: 0.7987 - val_loss: 0.4909
Epoch 39/50
640/640  2s 3ms/step - accuracy: 0.7962 - loss: 0.5013 - val_accuracy: 0.7987 - val_loss: 0.4906
Epoch 40/50
640/640  2s 3ms/step - accuracy: 0.7928 - loss: 0.5039 - val_accuracy: 0.7987 - val_loss: 0.4924
Epoch 41/50
640/640  1s 2ms/step - accuracy: 0.7839 - loss: 0.5127 - val_accuracy: 0.7987 - val_loss: 0.5060
Epoch 42/50
640/640  2s 2ms/step - accuracy: 0.7951 - loss: 0.5112 - val_accuracy: 0.7987 - val_loss: 0.5020
Epoch 43/50
640/640  3s 2ms/step - accuracy: 0.7891 - loss: 0.5143 - val_accuracy: 0.7987 - val_loss: 0.5009
Epoch 44/50
640/640  3s 2ms/step - accuracy: 0.7927 - loss: 0.5070 - val_accuracy: 0.7987 - val_loss: 0.5016
Epoch 45/50
640/640  3s 3ms/step - accuracy: 0.7967 - loss: 0.4989 - val_accuracy: 0.7987 - val_loss: 0.4924
Epoch 46/50
640/640  2s 2ms/step - accuracy: 0.7863 - loss: 0.5133 - val_accuracy: 0.7987 - val_loss: 0.4980
Epoch 47/50
640/640  3s 2ms/step - accuracy: 0.7958 - loss: 0.5007 - val_accuracy: 0.7987 - val_loss: 0.4974
Epoch 48/50
640/640  1s 2ms/step - accuracy: 0.7997 - loss: 0.4981 - val_accuracy: 0.7987 - val_loss: 0.4924
Epoch 49/50
640/640  3s 2ms/step - accuracy: 0.7859 - loss: 0.5153 - val_accuracy: 0.7987 - val_loss: 0.4924
Epoch 50/50
640/640  1s 2ms/step - accuracy: 0.7978 - loss: 0.4973 - val_accuracy: 0.7987 - val_loss: 0.4939

In [134]:
y_predict = model.predict(X_test)

63/63  0s 2ms/step

## Evaluating the model

In [135]:
model.evaluate(X_test, y_test)

63/63  0s 1ms/step - accuracy: 0.8026 - loss: 0.4892

[0.49014735221862793, 0.8034999966621399]